In [2]:
import pandas as pd

dataset = pd.read_csv('doggy_boot_harness.csv')

dataset.head()

   boot_size  harness_size     sex  age_years
0         39            58    male       12.0
1         38            58    male        9.6
2         37            52  female        8.6
3         39            58    male       10.2
4         38            57    male        7.8

In [3]:
del dataset['sex']
del dataset['age_years']

dataset.head()

   boot_size  harness_size
0         39            58
1         38            58
2         37            52
3         39            58
4         38            57

In [4]:
is_small = dataset.harness_size < 55
data_from_small_dogs = dataset[is_small]

print(data_from_small_dogs)

print("Number of small dogs: ", len(data_from_small_dogs))

    boot_size  harness_size
2          37            52
5          35            52
7          36            53
8          35            49
9          40            54
12         38            53
17         36            51
18         35            50
23         35            50
25         36            52
26         35            53
27         39            54
36         36            53
41         35            51
42         36            52
48         35            51
Number of small dogs:  16

In [5]:
# Same code
data_smaller_paws = dataset[dataset.boot_size < 40].copy()
data_smaller_paws.tail()

    boot_size  harness_size
42         36            52
46         39            58
47         39            57
48         35            51
49         39            59

In [12]:
import plotly.express
import graphing
'''import plotly.io as pio

pio.renderers.default = 'browser'
'''
graphing.scatter_2D(data_smaller_paws, label_x='harness_size', label_y='boot_size')

In [13]:
data_smaller_paws['harness_size_imperial'] = data_smaller_paws['harness_size'] / 2.54

graphing.scatter_2D(data_smaller_paws, label_x='harness_size_imperial', label_y='boot_size')

In [14]:
data_smaller_paws.tail()

    boot_size  harness_size  harness_size_imperial
42         36            52              20.472441
46         39            58              22.834646
47         39            57              22.440945
48         35            51              20.078740
49         39            59              23.228346